.item_and_service_main{
    // border: 1px solid;
  margin: auto;
  width: 95%;
  max-width: 2200px;
  padding: 5px;
  // height: 780px;
  margin-top: 30px;
  //overflow: scroll;
  


  .choose_item_container{
    max-width: 1076px;
    // width: 100%;
    // height: 150px;
    border-radius: 8px;
    background-color: #ffff;
    box-shadow:  0px 2px 6px 0px #4359711f;
    padding: 23px 20px 20px 20px;
    


    .container_heading{
        font-size: 15px;
        font-weight: 500;
        color: #2B3347;
        margin-bottom: 20px;
    }

    .item_type_container{
        display: flex;
        gap: 20px;
        


        .item:hover{
            background-color: #F5F6F8;
        }
        .item{
            border: .5px solid #C2CAD2;
            width: 252px;
           // height: 74px;
            border-radius: 6px;
            display: flex;
            position: relative;
            cursor: pointer;


            .radio_selector{
                position: absolute;
                right: 6px;
                top: 6px;
                border: 1px solid #D9DEE3;
                background-color: #fff;
                border-radius: 50%;
                width: 12px;
                height: 12px;
            }
            .selected{
                border: 4px solid #5C5AD0;
                height: 6px;
                width: 6px;
                box-shadow:  6px 2px 6px 2px #4359711f;
                transition: all .1s ease-in-out;

            }

            .item_icon{
                min-width: 66px;
                height: 74px;
                display: flex;
                justify-content: center;
                align-items: center;
                // margin-right: 10px;
            }
            .item_text{
                padding: 12px 1px 10px 0px;
                line-height: 15px;
                h1{
                    font-size: 14px;
                    font-weight: 600;
                    color: #566A7F;
                    // margin-top: 12px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: #697A8D;
                    margin-top: 6px;
                }
            }
        }

        .selected{
            border: .5px solid #5C5AD0;
            background-color: #F5F6F8;


        }
    }

}

.choose_method_container{
    .method_container_heading{
        font-size: 15px;
        font-weight: 500;
        color: #2B3347;
        margin-top: 36px;
    }
    .method_container_title{
        font-size: 14px;
        font-weight: 400;
        color: #697A8D;
        margin-top: 7px;
        margin-bottom: 20px;
    }

    .button{
        margin-top: 32px;
        display: flex;
        gap: 16px;

        .submit_button{
            background-color: #5C5AD0;
            border: none;
            outline: none;
            color: #ffff;
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            border-radius: 5px;
            width: 88px;
            height: 36px;


        }

        .cancel_button{
            background-color: #FFFFFF;
            border: 1px solid #8E9CAA;
            outline: none;
            color: #8E9CAA;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            border-radius: 5px;
            width: 88px;
            height: 36px;
        }
    }



    .item_method_container{
        display: flex;
        gap: 20px;


        .item:hover{
            background-color: #F5F6F8;
        }
      

        .item{
            border: .5px solid #C2CAD2;
            width: 188px;
            padding-left: 10px;
            height: 74px;
            border-radius: 6px;
            display: flex;
            position: relative;
            cursor: pointer;


            .radio_selector{
                position: absolute;
                right: 6px;
                top: 6px;
                border: 1px solid #D9DEE3;
                background-color: #fff;
                border-radius: 50%;
                width: 12px;
                height: 12px;
            }
            .selected{
                border: 4px solid #5C5AD0;
                box-shadow:  6px 2px 6px 2px #4359711f;
                height: 6px;
                width: 6px;
                transition: all .1s ease-in-out;

            }

            .item_text{
                padding: 12px 0px 10px 0px;
                line-height: 15px;
                h1{
                    font-size: 14px;
                    font-weight: 600;
                    color: #566A7F;
                    // margin-top: 12px;
                }
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: #697A8D;
                    margin-top: 6px;
                }
            }
        }

        .selected{
            border: .5px solid #5C5AD0;
            background-color: #F5F6F8;


        }
    }
}
}





