@import "../../../assets/Colors/Colors.scss";

.sales-order-main-container {
  // border: 1px solid;
  margin: auto;
  width: 95%;
  max-width: 2200px;
  padding: 5px;
  // height: 780px;
  margin-top: 30px;
  // overflow: scroll;
  position: relative;

  .sales-order-container {
    background-color: #ffff;
    width: 843px;
    max-width: 843px;
    // height: 677px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 4px;
    box-shadow: 0px 2px 6px 0px #4359711f;
    overflow: scroll;
    max-height: 70vh;

    .top-container {
      padding: 30px 30px 18px 30px;
      display: flex;
      justify-content: space-between;

      .top-left-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 352px;
        .sales-order-number-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .heading-sb {
            color: $primary-100;
          }
        }

        .display-flex-clr {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .sc-body-md {
            color: $neutrals-400;
          }
        }
      }

      .top-right-container {
        padding: 30px;
        background-color: $secondary-900;
        // width: 323px;
        max-width: 323px;
        border-radius: 10px;

        .bill-to-container {
          margin-bottom: 30px;
          .bill-to-heading {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-bottom: 10px;
            .body-md {
              color: $neutrals-100;
            }
            img {
              cursor: pointer;
            }
          }
          .company-name {
            margin-bottom: 10px;
          }
          .sc-body-rg {
            line-height: 19.34px;
            margin-bottom: 10px;
          }
        }

        .ship-to-container {
          margin-bottom: 30px;
          .ship-to-heading {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-bottom: 10px;
            .body-md {
              color: $neutrals-100;
            }
            img {
              cursor: pointer;
            }
          }
          .sc-body-rg {
            line-height: 19.34px;
            margin-bottom: 10px;
          }
          .sc-body-sb {
            color: $neutrals-400;
          }
        }

        .transporter-container {
          // margin-bottom: 30px;
          .transporter-heading {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-bottom: 10px;
            .body-md {
              color: $neutrals-100;
            }
            img {
              cursor: pointer;
            }
          }
          .transporter-name {
            margin-bottom: 10px;
          }
          .transporter-id {
            margin-bottom: 10px;
          }
          .sc-body-rg {
            line-height: 19.34px;
          }
        }
      }
    }

    .bottom-container {
      .item-container {
        .item-heading {
          display: flex;
          padding: 10px 36px 10px 20px;
          background-color: $neutrals-900;

          .item-details {
            width: 218px;
          }
          .item-qty {
            width: 100px;
            padding: 0px 10px;
          }
          .item-rate {
            width: 100px;
            padding: 0px 10px;
          }
          .item-tax {
            width: 80px;
            padding: 0px 10px;
          }
          .item-discount {
            width: 100px;
            padding: 0px 10px;
          }
          .item-amount {
            width: 100px;
            text-align: right;
            padding: 0px 0px 0px 10px;
          }
        }

        .item-row-container {
          .sales-order-items-row {
            position: relative;
            display: flex;
            padding: 0px 36px 0px 20px;

            .item-details {
              padding: 10px 10px 12px 0px;
              border-right: 1px dashed $neutrals-700;
            }
            .item-qty {
              padding: 10px 10px 12px 10px;
              border-right: 1px dashed $neutrals-700;
            }
            .item-rate {
              padding: 10px 10px 12px 10px;
              border-right: 1px dashed $neutrals-700;
            }
            .item-tax {
              padding: 10px 10px 12px 10px;
              border-right: 1px dashed $neutrals-700;
            }
            .item-discount {
              display: flex;
              flex-direction: column;
              gap: 8px;
              padding: 10px 10px 12px 10px;
              border-right: 1px dashed $neutrals-700;
            }
            .item-amount {
              padding: 22px 0px 0px 10px;
              width: 130px;
              text-align: right;

              .sc-body-sb {
                color: $neutrals-100;
              }
            }
            .delete-item-row {
              position: absolute;
              right: 10px;
              top: 22px;
              cursor: pointer;
            }
          }
          .item-bottom-hr {
            border: 0.5px solid $neutrals-700;
          }
          .add-item-btn {
            color: $primary-100;
            padding: 20px 0px 0px 20px;
            cursor: pointer;
          }
        }

        .item-total-container {
          display: flex;
          justify-content: space-between;
          .notes-attachment-container {
            padding: 30px 0px 0px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .attachments-input {
              .attachment-label {
                margin-bottom: 8px;
                color: $neutrals-400;
              }

              .upload-btn {
                border: 1px dashed $neutrals-600;
                color: $neutrals-500 !important;
              }
              .ghost-icon-btn:not([disabled]):hover {
                box-shadow: none;
              }
              .ghost-icon-btn:not([disabled]):focus {
                box-shadow: none;
                border: 1px dashed $neutrals-600;
              }
              .ghost-icon-btn:not([disabled]):active {
                box-shadow: none;
              }
              .image-upload-limits {
                margin-top: 10px;
              }
            }
          }

          .total-amount-container {
            padding: 0px 36px 0px 0px;
            width: 277px;

            .sub-total-container {
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
              .title {
                color: $neutrals-400;
              }
              .amount {
                color: $neutrals-600;
              }
            }
            .discount-container {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-bottom: 20px;
            }
            .shipping-container {
              display: flex;
              align-items: center;
              gap: 4px;
              margin-bottom: 20px;
            }
            .round-off-container {
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
              .amount {
                color: $neutrals-600;
              }
            }
            .total-container{
              display: flex;
              justify-content: space-between;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    .button-container{
      display:flex;
      padding: 30px 0px 30px 20px;
      gap: 16px;
    }
  }
}
