.main_tag_container{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px 8px;


    input{
        width: auto !important;
        // max-width: 100px;
        min-width: 10px;
    }
}

.tag_contianer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
 


    .tag{
        padding: 2px 8px;
        background-color: #5C5AD033;
        color: #5C5AD0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 5px;

        button{
            border: none;
            background-color: transparent;
            cursor: pointer;
        img{
            width: 8px;
        }
    }

    }
}

[contenteditable] {
    outline: 0px solid transparent;
  }