.srchdrp {
  margin-top: 8px;
  // margin-bottom:20px;
  position: relative;

  .editBtnContainer{
    background-color: #ffff !important;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
  .editBtn{
    // position: absolute;
    // top: 1px;
    width: 36px;
    height: 36px;
    // border: 1px solid;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: white;
    // right: 1px;
    background-color: #ffff;
    background:linear-gradient(to right, transparent 0%, #5c5ad0 1000%);
  }
}

  .ant-select-selector {
    border: 1px solid #5c5ad0 !important;
    // outline: 1px solid #5C5AD0 !important;
    // box-shadow: none !important;
    height: 38px !important;
  }

  .ant-select-selection-placeholder {
    color: #697a8d !important;
    font-weight: 500;
    opacity: 0.5 !important;
    font-size: 13px !important;
  }

  .ant-select-item {
    font-size: 13px !important;
    padding: 6px 14px !important;
    border-radius: 0px !important;
    color: #697a8d !important;
    background-color: white;
  }

  .ant-select-dropdown {
    border-radius: 6px !important;
    padding: 0px !important;
  }

  .ant-select .ant-select-selector {
    border-radius: 5px !important;
    border: 0.5px solid #d9dee3 !important;
    color: #697a8d !important;
  }

  .ant-select .ant-select-selector:hover {
    // outline: 1px solid #5C5AD0 !important;
    // border:.5px solid transparent !important;
    // box-shadow: none  !important;
    // transition: none !important;
  }

  .ant-select-arrow {
    font-size: 10px !important;
  }

  .ant-select-item-option:hover:not(.ant-select-item-option-disabled) {
    // background-color: #697A8D !important;
    color: #697a8d !important;
  }

  .ant-select-item-option-selected {
    background-color: #5c5ad133 !important;
    color: #697a8d !important;
    font-weight: none !important;
  }


}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  color: #566A7F;
  width: 100%;
}

.drpError {
  .ant-select .ant-select-selector {
    border-radius: 5px !important;
    border: 1px solid #da2f58 !important;
    color: #697a8d !important;
  }
  position: relative;
  .error_text {
    position: absolute;
    // top: 43px;
    font-size: 12px;
    color: #da2f58;
  }
}


.ant-select-focused.ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #5c5ad0 !important;
  border: 1px solid #5c5ad0 !important;
  box-shadow: 0 0 0 2px #5c5ad011 !important;
  // border-inline-end-width: undefinedpx !important;
  // outline: 0;
}


.ant-select-focused.ant-select
  .ant-select-selector {
  border-color: #5c5ad0 !important;
  border: 1px solid #5c5ad0 !important;
  box-shadow: 0 0 0 2px #5c5ad011 !important;
  // border-inline-end-width: undefinedpx !important;
  // outline: 0;
}

