@import '../../assets/Colors/Colors.scss';

// Contained Button

.Contained-btn{
    border: none;
    outline: none;
    padding: 11px 22px;
    border-radius: 6px;
    color: #ffff !important;
    max-height: 38px;
    background-color: $primary-100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}
.Contained-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
}
.Contained-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
    border: 1px solid $primary-100;
}
.Contained-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $primary--300;
}
.Contained-btn:disabled{
    background-color: $primary-600;
    color: $primary-800 !important;
    cursor: not-allowed;
}

.Contained-btn-danger{
    border: none;
    outline: none;
    padding: 11px 22px;
    border-radius: 6px;
    color: #ffff !important;
    max-height: 38px;
    background-color: $danger-100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}
.Contained-btn-danger:not([disabled]):hover{
    box-shadow: 0px 1px 2px $danger-100;
    background-color: $danger-100;
}
.Contained-btn-danger:not([disabled]):focus{
    box-shadow: 0px 1px 2px $danger-100;
    background-color: $danger-100;
    border: 1px solid $danger-100;
}
.Contained-btn-danger:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $danger-100;
}
.Contained-btn-danger:disabled{
    background-color: $danger-600;
    color: $danger-800 !important;
    cursor: not-allowed;
}



.Contained-btn.loading-contained-btn {
    position: relative;
  }
  
  .Contained-btn.loading-contained-btn::after {
    content: '';
    content: '';
    display: block;
    position: absolute;
    top: 5.5%;
    left: 5.5%;
    transform: translate(-50%, -50%);
    width: 0px !important;
    height: 0px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0);
    border-top-color: #fff;
    animation: spin 1s ease-out infinite;
    padding: 12px 12px;
  }
  
  @keyframes spin {
    to {transform: rotate(360deg);}
  }

  .loading-contained-btn{
    max-width: 38px;
    min-height: 38px;
    border-radius: 50%;
    margin-left: 135px;
    padding: 11px 18px;

  }


// Sc text button

.sc-text-btn{
    border: none;
    outline: none;
    padding: 11px 22px;
    border-radius: 6px;
    color: $neutrals-500 !important;
    background-color: $secondary-800;
    cursor: pointer;
    max-height: 38px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
}

.sc-text-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $secondary-300;
    background-color: $secondary-100;
    color: #ffff !important;
}
.sc-text-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $secondary-300;
    background-color: $secondary-100;
    color: #ffff !important;
    border: 1px solid $secondary-500;
}
.sc-text-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $secondary-100;
    color: #ffff !important;
}
.sc-text-btn:disabled{
    background-color: $secondary-600;
    color: $secondary-300 !important;
    cursor: not-allowed;
}



// contained icon button

.contained-icon-btn{
    border: none;
    outline: none;
    padding: 11px 22px 11px 20px;
    border-radius: 6px;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: $primary-100;
    color: #ffff !important;
    max-height: 38px;
    cursor: pointer;
    border: 1px solid transparent;
}
.contained-icon-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
}
.contained-icon-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
    border: 1px solid $primary-100;
}
.contained-icon-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $primary--300;
}
.contained-icon-btn:disabled{
    background-color: $primary-600;
    color: $primary-800 !important;
    cursor: not-allowed;
}


// contained-icon-btn-gray 

.contained-icon-btn-gray{
    border: none;
    outline: none;
    padding: 11px 22px 11px 20px;
    border-radius: 6px;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: $secondary-800;
    color: $neutrals-500 !important;
    max-height: 38px;
    cursor: pointer;
    border: 1px solid transparent;
}
.contained-icon-btn-gray:not([disabled]):hover{
    box-shadow: 0px 1px 2px $secondary-800;
    background-color: $neutrals-600;
    img{
        filter: brightness(0) invert(1);
    }
    p{
        filter: brightness(0) invert(1);
    }
}
.contained-icon-btn-gray:not([disabled]):focus{
    img{
        filter: brightness(0) invert(1);
    }
    p{
        filter: brightness(0) invert(1);
    }
    box-shadow: 0px 1px 2px $secondary-300;
    background-color: $secondary-100;
    border: 1px solid $secondary-500;
}
.contained-icon-btn-gray:not([disabled]):active{
    img{
        filter: brightness(0) invert(1);
    }
    p{
        filter: brightness(0) invert(1);
    }
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $secondary-100;
}
.contained-icon-btn-gray:disabled{
    background-color: $secondary-600;
    color: $secondary-300 !important;
    cursor: not-allowed;
}


// ghot button 

.ghost-btn{
    border: 1px solid $primary-100;
    outline: none;
    padding: 11px 22px;
    border-radius: 6px;
    color: $primary-100 !important;
    background-color: transparent;
    max-height: 38px;
    line-height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ghost-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $primary-100;
}
.ghost-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $primary-100;
    border: 1px solid $primary-100;
}
.ghost-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
}
.ghost-btn:disabled{
    color: $primary-600 !important;
    border: 1px solid $primary-600;
    cursor: not-allowed;
}



// ghost icon button 

.ghost-icon-btn{
    border: 1px solid $primary-100;
    outline: none;
    padding: 11px 22px 11px 20px;
    border-radius: 6px;
    color: $primary-100 !important;
    background-color: transparent;
    max-height: 38px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    img{
        width: 16px;
        height: 16px;
    }
}

.ghost-icon-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $primary-100;
}
.ghost-icon-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $primary-100;
    border: 1px solid $primary-100;
}
.ghost-icon-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
}
.ghost-icon-btn:disabled{
    color: $primary-600 !important;
    border: 1px solid $primary-600;
    cursor: not-allowed;
    img{
        filter: brightness(200%)
    }
}


// text button 

.text-btn{
    border: none;
    outline: none;
    color: $primary-100 !important;
    max-height: max-content;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.text-btn:not([disabled]):hover{
    color: $primary--300 !important;
}
.text-btn:not([disabled]):focus{
    color: $primary--300 !important;
}
.text-btn:not([disabled]):active{
    color: $primary--300 !important;
}
.text-btn:disabled{
    color: $primary-600 !important;
    cursor: not-allowed;
}

// icon button 

.icon-btn{
    border: none;
    outline: none;
    color: $primary-100 !important;
    // max-height: max-content;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;

    img{
        height: 18px;
        width: 18px;
    }
}

.icon-btn:not([disabled]):hover{
    img{
        filter: grayscale(20%)
    }
}
.icon-btn:not([disabled]):focus{
    img{
        filter: grayscale(30%)
    }
}
.icon-btn:not([disabled]):active{
    img{
        filter: grayscale(30%)
    }
}
.icon-btn:disabled{
    color: $primary-600 !important;
    cursor: not-allowed;
    img{
        filter: brightness(200%)
    }
}


// floating button 

.floating-action-btn{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    background-color: $primary-100;
    cursor: pointer;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;

    img{
        height: 12px;
        width: 12px;
    }
}

.floating-action-btn:not([disabled]):hover{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
}
.floating-action-btn:not([disabled]):focus{
    box-shadow: 0px 1px 2px $primary-100;
    background-color: $primary--300;
    border: 1px solid $primary-100;
}
.floating-action-btn:not([disabled]):active{
    box-shadow: inset 0 3px 6px #00000029; 
    background-color: $primary--300;
}
.floating-action-btn:disabled{
    background-color: $primary-600;
    cursor: not-allowed;
    img{
        filter: brightness(89%)
    }
}   
