// Neutrals Colors

$neutrals-100: #101729;
$neutrals-200: #1E2A3A;
$neutrals-300: #344056;
$neutrals-400: #465468;
$neutrals-500: #64748B;
$neutrals-600: #94A2B8;
$neutrals-700: #CBD5E0;
$neutrals-800: #E1E8F0;
$neutrals-900: #F1F4F9;

// Primary Colors

$primary--900: #0A0A17;
$primary--800: #14142E;
$primary--700: #1E1E45;
$primary--600: #28285C;
$primary--500: #333273;
$primary--400: #3D3C8A;
$primary--300: #4746A1;
$primary--200: #5150B8;
$primary-100: #5C5AD0;
$primary-200: #6E6CD5;
$primary-300: #807EDA;
$primary-400: #9291DF;
$primary-500: #A4A3E4;
$primary-600: #B6B5EA;
$primary-700: #C8C8EF;
$primary-800: #DADAF4;
$primary-900: #ECECF9;

// Secondary Colors


$secondary-100: #94A2B8;
$secondary-200: #9FACBF;
$secondary-300: #ABB6C7;
$secondary-400: #B7C1CF;
$secondary-500: #C3CBD7;
$secondary-600: #CFD5DF;
$secondary-700: #DBE0E7;
$secondary-800: #E7EAEF;
$secondary-900: #F3F4F7;


// Success Colors

$success-100: #179E40;
$success-200: #30A855;
$success-300: #4AB36A;
$success-400: #64BE7F;
$success-500: #7EC994;
$success-600: #97D3AA;
$success-700: #B1DEBF;
$success-800: #CBE9D4;
$success-900: #E5F4E9;


// Info Colors

$info-100: #00BBE5;
$info-200: #1CC2E7;
$info-300: #38CAEA;
$info-400: #55D1ED;
$info-500: #71D9F0;
$info-600: #8DE0F3;
$info-700: #AAE8F6;
$info-800: #C6EFF9;
$info-900: #E2F7FC;


// Warning Colors


$warning-100: #EFD804;
$warning-200: #F0DC1F;
$warning-300: #F2E03B;
$warning-400: #F4E557;
$warning-500: #F6E973;
$warning-600: #F7ED8F;
$warning-700: #F9F2AB;
$warning-800: #FBF6C7;
$warning-900: #FDFAE3;



// Danger Colors

$danger-100: #FF1F54;
$danger-200: #FF3767;
$danger-300: #FF507A;
$danger-400: #FF698D;
$danger-500: #FF82A0;
$danger-600: #FF9BB3;
$danger-700: #FFB4C6;
$danger-800: #FFCDD9;
$danger-900: #FFE6EC;

//Orange Colors

$orange-100: #FF561E;
$orange-200: #FF6837;
$orange-300: #FF7B50;
$orange-400: #FF8E69;
$orange-500: #FFA182;
$orange-600: #FFB39B;
$orange-700: #FFC6B4;
$orange-800: #FFD9CD;
$orange-900: #FFECE6;