.addNewCustomerContainer
{
     // border: 1px solid;
  margin: auto;
  width: 95%;
  max-width: 2200px;
  padding: 5px;
  // height: 780px;
  margin-top: 30px;
  overflow: scroll;
  position: relative;
  margin-bottom: 10px;
}

.newcustomer
{
    background-color: white;
    // height: 619px;
    width: 1090px;
    margin-top: 0px;
    // margin-left: 30px;
    scrollbar-width: none; 
    border-radius: 8px;
}



.customerbutton_bottom
{
    display: flex;
   float: none !important;
   // margin-right: 32px;
    margin-top: 25px !important;
    gap: 24px;
   // border-color: #D9DEE3;
   margin-top: 40px;
}
.customerform
{
    //  height: 700px;
     overflow: scroll;
     box-shadow:  0px 2px 6px 0px #4359711f;
     background-color: #ffff;
     width: 1100px;
     border-radius: 8px;
}
.customerform::-webkit-scrollbar{
    width: 0;
}
.container_details1{
    display: flex;
    padding: 23px 24px;
}
.form-left
{
    width: 50%;
    // height:715px;
}
.form-center
{
    width: 50%;
    // height: 715px;
    margin-left: 25px;
}

.form-right
{
    width: 30%;
    // height: 715px;
    margin-left: 25px;
    margin-right: 10px;
}
.box_heading1{
    padding-top: 20px;
    align-items: center;
    margin-top: 0px;
    display: flex;
    margin-left: 24px;
    width: 130px;
    color: #566A7F;
    height: 24px;
    font-weight: bold;
    font-size: 18px;
}
.addcustomer_heading{
    // margin-left: 30px;
//    margin-top: 29px;
    .heading_parent{
        color: #A1ACB8;
        font-weight: 400;
    }
}
.label
{
    font-size: 13px;
    color:#566A7F;
}
.customerinput
{
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #D9DEE3;
}

.customerinput1
{
    height: 38px;
    width: 150px;
    border-radius: 5px;
    margin-top: 5px;
    border-color: #D9DEE3;
}

.customerdropdown
{
    border:.5px solid;
    height: 37px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    margin-bottom: 17px;
    border-color: #D9DEE3;
}

.customerdropdown:hover
{
    // border:1px solid #5C5AD0 !important;
    outline: 1px solid #5C5AD0 !important;
    border:.5px solid transparent !important;
}
.customerstreet
{
    border:.5px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    margin-bottom: 17px;
    border-color: #D9DEE3;
}
.customerstreet:hover
{
    // border:1px solid #5C5AD0 !important;
    outline: 1px solid #5C5AD0 !important;
    border:.5px solid transparent !important;
}

.customerstreet::placeholder{
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
   margin-right: 20px;
   margin-left: 20px;
}

.customeraddress
{
    border: 1px solid;
    width: 317px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 18px;
    padding-bottom: 65px;
    outline: none;
    padding-left: 13px;
    padding-top:7px;
    border-color: #D9DEE3;
}

.customeraddress::placeholder{
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
}

.customerinputfield
{
    border:1px solid;
    height: 38px;
    width: 330px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    margin-bottom: 17px;
    border-color: #D9DEE3;
}
.customerbutton_bottom
{
    display: flex;
    float: right;
    margin-right: 32px;
    margin-top: 109px;
    gap: 12px;
    border-color: #D9DEE3;
}


.customercancelbutton
{
    border: 1px  solid #C2CAD2;
   // border: none;
    width: 79px;
    height: 38px;
    border-radius: 6px;
    color: #8E9CAA;
    background-color: #FFFFFF;
    font-size: 12px;
    margin-top: -17px;
}
.customersavebutton
{
     border: none;
    width: 67px;
    height: 38px;
    border-radius: 6px;
    color: white;
    background-color: #5C5AD0;
    font-size: 12px;
    margin-top: -17px;
}
.customerimg
{
width:16px;
 height:13px;
  padding:12px;
}
.customerstimg
{
    width:16px;
 height:13px;
  //padding:12px;
}

::placeholder { /* Most modern browsers support this now. */
    opacity: 0.5;
    font-size: 13px;
    color:#697A8D;
    font-weight: 500;
 }

//  .customerinput
//  {
//     option{
//         border:1px solid;
//     }
//  }

.name
{
font-size:13px; 
color:#566A7F; 
//margin-top:3px;
}
.ownername
{
font-size:13px; 
color:#566A7F; 
align-items: center;
}
.email
{
font-size:10px;
color:#8E9CAA;
margin-top: 0px
}

.assigned
{
font-size:10px; 
color:#8E9CAA; 
// margin-top:7px;
margin-left: -9px;
}
.date
{
    font-size:11px;
    color:#8E9CAA;
    //margin-bottom:6px;
   
}

.ownerdate
{
    font-size:11px;
    color:#8E9CAA;
    //margin-bottom:6px;
   
}

   .ant-select-selection-item
    { 
        div
        {
            img{
            display:none;
            }
            .ownername
            {
                margin-top: -10px;
              
            }
            .ownerdate{
                display: none;
            }
           .assigned{
            display: none;
           }
           .date{
            display: none;
           }
        }
    }





 