.customer-table-container {
  // border: 1px solid;
  padding: 20px;
  border-radius: 8px;
  box-shadow:  0px 2px 6px 0px #4359711f;
  background-color: #ffff;
  //height:70vh;
}
.customers {
  // border: 1px solid;
  margin: auto;
  width: 95%;
  max-width: 2200px;
  padding: 5px;
  // height: 780px;
  margin-top: 30px;
  overflow: scroll;
  position: relative;

  ::-webkit-scrollbar {
    width: 0;
  }
  
  .tableData {
    height: max-content;
    max-width: 2220px;
    // box-shadow:  0px 2px 6px 0px #4359711f;
  }
}

.customers::-webkit-scrollbar {
  width: 0;
}


.select {
  width: 200px;
  margin-top: 50px;
}


.table-row:hover {
  cursor: pointer;
}