@import  '../../assets/Colors/Colors.scss';

.login-page-main{
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 100vh;
    width: 100vw;
    background-color: #F3F6F9;
    z-index: 2;

    .page-image-container{
        position: relative;
        
        .login-logo{
            position: absolute;
            top: 45px;
            left: 45px;
        }

        .login-img{
            position: fixed;
            width: 40%;
            left: 50%;
            top: 50%;
            transform: translate(-105%, -43%) !important;
        }
    }

    .card-background-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 750px;
        width: 750px;
        background-repeat: no-repeat;
        z-index: -1;
    }


    .new-password-container{
        width: 336px;
        max-height: 528px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 2px 6px 0px #4359711f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .headers{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: $primary-100;
                margin-bottom: 8px;
            }
            p{
                color: $neutrals-500;
            }
        }
        .credentials{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            .password{
                position:relative;
                margin-bottom: 20px;

                .password_eye{
                    position: absolute;
                    top: 33px;
                    right: 10px;
                    width: 20px;
                    height: 20px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .confirm-password{
                position:relative;

                .password_eye{
                    position: absolute;
                    top: 33px;
                    right: 10px;
                    width: 20px;
                    height: 20px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .back-to-signin{
            margin-top: 20px;
            span{
                color: $primary-100;
                cursor: pointer;
            }
        }
    }
    .forget-password-container{
        width: 352px;
        max-height: 528px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 2px 6px 0px #4359711f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .headers{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: $primary-100;
                margin-bottom: 8px;
            }
            p{
                color: $neutrals-500;
            }
        }
        .credentials{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .back-to-signin{
            margin-top: 20px;
            span{
                color: $primary-100;
                cursor: pointer;
            }
        }

    }
    .login-card-container{
        // border: 1px solid;
        width: 330px;
        max-height: 528px;
        background-color: #FFFFFF;
        border-radius: 6px;
        box-shadow: 0px 2px 6px 0px #4359711f;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;


        .headers{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                color: $primary-100;
                margin-bottom: 8px;
            }
            p{
                color: $neutrals-500;
            }
        }

        .credentials{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
            .login-email{
                margin-bottom: 20px;

            }

            .login-password{
                position: relative;
                margin-bottom: 20px;
                .login_password_input {
                    width: 277.4px !important;
                    max-width: 277.4px !important;
                    padding-right: 37px !important;
                }
                // label{
                //     font-size: 14px;
                //     font-weight: 500;
                //     color: #566A7F;
                // }
                // #password-box{
                //     // width: 345px;
                //     // height: 36px;
                //     // border: 1px solid #E0E0E0;
                //     // border-radius: 5px;
                //     // padding: 0 14px;
                //     // margin-top: 10px;
                //     // font-size: 14px;
                //     // font-weight: 500;
                //     // color: #697A8D;
                //     // display: flex;
                // }::placeholder{
                //     font-size: 14px;
                //     font-weight: 500;
                //     color: #697A8D !important;
                //     display: flex !important;
                //     align-items: center !important;
                // }

                .password_eye{
                    position: absolute;
                    top: 33px;
                    right: 10px;
                    width: 20px;
                    height: 20px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .forget_password{
                    color: $primary-100;
                    cursor: pointer;
                    text-align: right;
                    margin-top: 10px;
                }
            }
        }
        .remember-btn{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 20px;
            
            label{
                color: $neutrals-500;
            }
        }

        .sign-in-button{
            font-size: 14px;
            font-weight: 700;
            color: #ffff;
            background-color: $primary-100;
            border-radius: 5px;
            outline: none;
            border: none;
            width: 376px;
            height: 36px;
            margin-bottom: 22px;
            cursor: pointer;
        }
        
        .create-account-container{
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #697A8D;
            margin-top: 20px;

            span{
                font-weight: 600;
                color: #5C5AD0;
            }
        }

        .or-container{
            position: relative;
            margin-bottom: 25px;

            hr{
                border: .5px solid #ECEEF1;
            }
            .or-text{
                // border: 1px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px ;
                font-weight: 400;
                color: #697A8D;
                width: 52px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);
                background-color: #ffff;
            }

        }
    }

   

    .continue-with-google{
        display: flex;
        gap: 5px;
        align-items: center;
        width: 193px;
        height: 38px;
        // border: 1px solid;
        margin: auto;
        border-radius: 5px;
        box-shadow:  0px .5px 5px #000000 inset;
        cursor: pointer;

        img{
            width: 20px;
            height: 20px;
            margin-left: 18px;
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: #2B3347;
            margin-left: 5px;
        }

    }
}

.card_main_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .top_image{
        position: absolute;
        left: 111px;
        top: -418px;
        transform: rotate(-2deg);
    }
    .bottom_image{
        position: absolute;
        right: 114px;
        bottom: -421px;
        transform: rotate(-156deg);
    }
}


//button loader



.loader_container
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #5C5AD0;
    margin-left: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader {
        width: 34px;
        height: 34px;
        //margin-left:160px;
        left: calc(50% - 17px);
          background-color:#5C5AD0;
    box-sizing: border-box;
        border-top: 4px solid white;
     border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-radius: 100%;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 1.5s  ease-out infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }


@media screen and (max-width: 1300px) {
        .login-card-container{
            transform: translate(-50%,-50%) !important;

        }

        .login-page-main .page-image-container .login-img {
                position: fixed;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) !important;
        }
        .login-page-main .page-image-container .login-logo{
            position: fixed;
            left: 50%;
            top: 15%;
            transform: translate(-50%, -50%) !important;
            width: 300px;
        }
  }


