
.table_nav{
   // display: flex;
    height: 39px;
    align-items: center;
    margin-bottom: 20px;
    max-width: 2220px;
    // position: fixed;
    // position: -webkit-sticky;
    // position: sticky;
    top: 0;
    justify-content: space-between;

    .search_customer{
        height: 37px;
        //margin-left: 310.5px;
        display: flex;
        align-items: center;
        background-color: #ffff;
        border-radius: 8px;
        gap: 12px;
        width: 350px;
        border: 1px solid #C2CAD2;
        // box-shadow:  0px 2px 6px 0px #4359711f;

        .searchbar_typehead{
            // border: 1px solid;
        }

        .search_icon{
            margin-left: 10px;
            margin-top: 7px;

            img{
                width: 16px;
            }
        }
        
        
        input{
            height: 37px;
            border: none;
            border-radius: 8px;
            width: 100%;
            outline: none;
        }
        input::placeholder{
            font-size: 13px;
            font-weight: 400;
            color: #697A8D;
            
        }
    }

    .tableBtn_container{
        display: flex;
        justify-content: space-between;
        gap: 18px;
        .tableBtn{
            margin-right: 20px;
            width: 93.5px;
            height: 37px;
            border: .5px solid;
            border-radius: 6px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #697A8D;
            gap: 8px;
            font-size: 13px;
            font-weight: 400;
            // box-shadow:  0px 2px 6px 0px #4359711f;
            border: 1px solid #C2CAD2;

            .active{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: .2s ease;
            }
            .inactive{
                opacity: 0;
                visibility: hidden;
                transform: translateY(-20px);
                transition: .5s ease;
            }

            .btn_icon{
                margin-left: 20px;
               // filter: invert(35%) sepia(87%) saturate(1041%) hue-rotate(218deg) brightness(84%) contrast(92%);
                #filtericon
                {
                    fill:red ;
                }
            }
        }
        .addNewBtn{
            color: #ffff;
            background-color: #5C5AD0;
            border: 1px solid #5C5AD0;
            gap: 5px;
            // border: none;
            width: auto;
            padding: 0px 16px 0px 13px;
            // justify-content: center;
            display: flex;
            align-items: center;
            .addNewBtn_text{
                // min-width: 90px;
            }
        }
    }
}


.closeModal
{
	font-size: 28px;
	color:#697A8D;
	cursor: pointer;
	right: 22px;
	position: absolute;
	z-index: 11;
}
//filter

.filterlength
{
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #5C5AD0;
    color: white;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px;
}
.filterl
{
    color: #5C5AD0;
}
.filterlclr
{
    color: #5C5AD0;
}


.filter{
    position: relative;
    padding-right: 20px;
        border: 1px solid #5C5AD0 !important;
        font-weight: 500;
    .filter_dropdown{
        position: absolute;
        // width: 720px;
        // height: 405px;
        overflow: hidden;
        top: 43px;
        background-color: #ffff;
        border-radius: 8px;
        box-shadow:  0px 2px 6px 0px #4359711f;
        // border: 1px solid #C2CAD2;
        left: 0;
        z-index: 10;
        padding: 7px 0px;
        // display: flex;
        
        .filter_dropdown_btn{
               font-size: 18px;
                font-weight: 500;
                width: 46px;
                height: 24px;
                display: flex;
          //      margin-top: -11px;
                /* top: 0px; */
         //       padding: 18px 19px 24px;


                cursor: pointer;
            
             
                .filter_icon{
                width: 11px;
                margin-right: 6px;
              
                }
        }
    }
}

.export{
    position: relative;

    .export_dropdown{
        position: absolute;
        width: 102px;
        height: 113px;
        overflow: hidden;
        top: 58px;
        background-color: #ffff;
        border-radius: 8px;
        box-shadow:  0px 2px 6px 0px #4359711f;
        // border: 1px solid #C2CAD2;
        left: 0;
        z-index: 10;
        padding: 7px 0px;
        // display: flex;
        
        .export_dropdown_btn{
            margin-left: 11px;
            display: flex;
            align-items:center;
            margin-bottom: 15px;
            cursor: pointer;

            .export_icon{
                width: 11px;
                margin-right: 6px;
            }
        }
    }
}

.csvLink{
    text-decoration: none;
    color: #697A8D;
}

.settings{
    margin-top: 7px;
    position: relative;
    cursor: pointer;
    .table_setting_dropdown{
        width: 228px;
    //  height: 440px;
    max-height: 440px;
        position: absolute;
        padding: 0px 17px 0px 15px;
        z-index: 10;
        right: 0;
        top:44px;
        background-color: #ffff;
        border-radius: 8px;
        // box-shadow:  0px 2px 6px 0px #4359711f;
        border: 1px solid #C2CAD2;
        font-size: 13px;
        overflow: scroll;
        h5{
            font-weight: 500;
            color: #697A8D;
            margin: 23px 0px 14px 0px ;
            font-size: 16px;
        }
        hr{
            margin-bottom: 20px;
            border: .5px solid #C2CAD2;
        }

        .columns_fields{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .chekbox_title{
                display: flex;
                gap: 11px;
                align-items: center;
                // border: 1px solid;

                div{
                    margin-bottom: 3px;
                }


                p{
                    color:#697a8d;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
        
    }
    .active{
        opacity: 1;
        visibility: visible;
        // transform: translateY(0);
        transition: .5s ease;
    }
    .inactive{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: .2s ease;
    }
}

