

.contacts-data{
    // border: 1px solid;
    margin: auto;
    width: 95%;
    max-width: 2200px;
    padding: 5px;
    // height: 780px;
    margin-top: 30px;
    //overflow: scroll;
    position: relative;
    .contacts-table-container{
        // border: 1px solid;
        // padding: 20px;
        background-color: #ffff;
        border-radius: 8px;
        box-shadow:  0px 2px 6px 0px #4359711f;
    }
}

.bulk_changes_container{
    position: fixed;
    bottom: 30px;
    z-index: 10;
    left: 30%;
    // width: 53%;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow:  0px 2px 6px 0px #4359711f;
    // padding: 20px;
    height: 53px;
    display: flex;

    .selected_container{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #697A8D;
        border-right: 3px solid #F3F3F8;
        height: 100%;
        padding: 0px 20px;
        width: 230px;

        span{
            color: #5C5AD0;
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .modify_container{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #697A8D;
        border-right: 3px solid #F3F3F8;
        height: 100%;
        padding: 0px 20px;
        // width: 230px;
        
        div{
            display: flex;
            gap: 8px;
            cursor: pointer;
        }
    }

    .delete_container{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 400;
        color: #DA2F58;
        height: 100%;
        padding: 0px 20px;
        cursor: pointer;
    }
}


.bullet_item

{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #28A745;
    margin-right: 5px;
}