@import '../../../assets/Colors/Colors.scss';
@import '../../../assets/Colors/Colors.scss';

.contacts-data{
    // border: 1px solid;
    margin: auto;
    width: 95%;
    max-width: 2200px;
    // padding: 5px;
    // height: 780px;
    // margin-top: 30px;
    //overflow: scroll;
    position: relative;
    .contacts-table-container{
        // border: 1px solid;
        // padding: 20px;
        // max-height: 150px;
        background-color: #ffff;
        border-radius: 8px 8px 8px 8px;
        box-shadow:  0px 2px 6px 0px #4359711f;

        .filter-searchbar-container{
            padding: 0px 20px;
            .new_btn_or_reports_main{
                top: -88px;
                right: -20px;
            }
        }
    }
}

.bulk_changes_container{
    position: fixed;
    // bottom: 30px;
    z-index: 10;
    // left: 30%;
    top: 90%;
    left: 40%;
    transform: translate(-25%, -40%);
    // width: 53%;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow:  0px 2px 6px 0px #4359711f;
    // padding: 20px;
    height: 53px;
    display: flex;

    .selected_container{
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 6px 0px 0px 6px;
        gap: 20px;
        // font-size: 14px;
        // font-weight: 400;
        //color: #697A8D;
        border-right: 3px solid #F3F3F8;
      //  height: 100%;
        padding: 18px 20px;
        width: 230px;

        span{
            color: #5C5AD0;
           // font-size: 12px;
           // font-weight: 600;
            cursor: pointer;
        }
    }

    .modify_container{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 14px;
        background-color: #FFFFFF;
        font-weight: 400;
        color: #697A8D;
        border-right: 3px solid #F3F3F8;
        //height: 100%;
        padding: 18px 20px;
        width: 450px;

        // .change_status{
        //     position: relative;
        // }

        .change_position{
            position: relative;
            
        }
        
        div{
            display: flex;
            gap: 8px;
            cursor: pointer;
            padding: 17px 0px;
            font-weight: 500;

        }
    }
   
    .delete_container{
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 500;
        color:$danger-100;
       // height: 100%;
        background-color: #FFFFFF;
        border-radius: 0px 6px 6px 0px;
        padding: 18px 20px;
        cursor: pointer;
    }
}

.change_status_dropdown
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}


.table_bullet_item

{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: $success-100;
  //  margin-right: 5px;
    border: 2px solid $success-700;
}




.selected_row{
    border-left: 4px solid #5C5AD0;
    z-index: 1000000;
}

.action-column {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
  }
 
  .change_status_dropdown{
    // width: 104px;
    // height: 196px;
    // // background-color: #ffff;
    // box-shadow:  0px 2px 6px 0px #4359711f;
    // border-radius: 6px;
    // // border: 1px solid;
    // position: absolute;
    // top: -260px;
    // left: -15px;
    // display: flex;
    // padding: 20px;
    // flex-direction: column;



    div{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        
       div{
        width: 8px;
        height: 8px;
        border-radius: 50%;
       }

       
    }
    .new_lead{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $info-100;
        border: 2px solid $info-700;
         }
        }
    .not_interested{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $danger-100;
        border: 2px solid $danger-700;
         }
        }
    .junk{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: #FF561E;
        border: 2px solid #FFECE6;
         }
    }
    .prospective{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $primary-100;
        border: 2px solid $primary-900;
         }
    }
    .customer{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $success-100;
        border: 2px solid $success-700;
         }
    }
    .agent{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $warning-100;
        border: 2px solid $warning-700;
         }
    }
    .consultant{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
        background-color: $secondary-100;
        border: 2px solid $secondary-700;
         }
    }
    .vendor{
        color: $neutrals-500;
        margin-bottom: 10px;
        div{
            background-color: $success-100;
            border: 2px solid $success-700;
         }
    }
    p{
        font-size: 14px;
        font-weight: 600;
    }
    
}
.change_position_dropdown{
    button{
        border: none;
        outline: none;
        padding: 20px;
        width: 92px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5C5AD0;
        border-radius: 5px;
        color: #ffff;
        margin-top: 20px;
        margin-left: 238px;
       
    }
}

.contacts-grid-container{
 
        .new_btn_or_reports_main{
            top: -68px !important;
            right: 0px !important;
     
    }
   
    .table_nav{
        padding: 0px 0px 30px 0px
    }

    .grid-data-container{
       
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        //new
        overflow-y: scroll;
        max-height: 60vh;
    
        .card-container{
            background-color: #ffff;
            padding: 20px;
            width: 221px;
            border-radius: 6px;
            box-shadow:  0px 6px 30px #43597114;

            .profile-container{
                display: flex;
                gap: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: .5px solid $neutrals-700;

                .user-avtar{
                    width: 66px;
                    height: 66px;
                }
                .name-option-container{
                    .name{
                        margin-bottom: 2px;
                    }
                    .lead-option-container{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        margin-top: 8px;
                        width: 138px;
                    .lead{
                        width: 40px;
                        height: 20px;
                        border-radius: 6px;
                        color: $info-100;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $info-900;
                    }
                    img{
                        // width: 24px;
                        // height: 24px;
                        transform: rotate(90deg);
                        cursor: pointer;
                    }
                }
                }
            }


            .business-details-container{

                .account{
                    margin-bottom: 16px;
                    .business-name{
                        color: $neutrals-400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 6px;
                    }
                }

                .email{
                    margin-bottom: 16px;
                    .email-id{
                        color: $neutrals-400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 6px;
                    }
                }
                .phone{
                    margin-bottom: 16px;
                    .mobile{
                        color: $neutrals-400;
                        margin-top: 6px;
                    }
                }
                .lead{
                    margin-bottom: 16px;
                    .lead-source{
                        color: $neutrals-400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 6px;
                    }
                }
                .ownership{
                    .ownership-name{
                        color: $neutrals-400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 6px;
                    }
                }
            }


            

        }
    }
}


.contact-delete
{
    color: $neutrals-100;   
    padding: 21px 0px 0px 0px,
}

.contact-delete-modal
{
    background-color:$secondary-800 !important;
    width: 90px;
    height: 38px;
    color: $neutrals-600  !important;
    border: none;
}

.contact-submit-modal
{
    background-color:$danger-100 !important;
    width: 92px;
    height: 38px;
    color:#ffffff !important;
    border: none;
    box-shadow:  0px 1px 2px red !important;
}


.grid-table-container{
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 3px 4px;
    background-color: #E1E8F0;
    border-radius: 6px;
    // transition: all 0.3s ease-in-out;

    .option{
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // border: 1px solid;
        // transition: all 0.3s ease-in-out;
        
    }
    .active{
        background-color: #ffff;
        border-radius: 6px;
        box-shadow: 0px 1px 2px #43597114;
        // transition: all 0.3s ease-in-out;

    }
}
.contact-name-h1{
    color: $neutrals-400 !important;
}

.contact-key-personname{
    color: $neutrals-600 !important;
}
.contact-company_name{
    color: $neutrals-400 !important;
}

.profile_name_letter
{
    min-width: 64px;
     height: 64px;
      background-color: $primary-900;
      border: 1px solid #C2CAD2;
      border-radius: 50%;
       display: flex;
        align-items: center;
         justify-content: center;
    span{
        color: $primary-100;
        font-weight: 600 ;
         font-size:22px
    }
}

@media (max-width:1024px) {
    .bulk_changes_container{
        position: fixed;
        // bottom: 30px;
        z-index: 10;
        // left: 30%;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -40%) !important;

        }
    }