@import '../../assets/Colors/Colors.scss';


.inputError{
    // border:1px solid #DA2F58 !important;

    // position: relative;
    outline: 1px solid $danger-100 !important;
    box-shadow: 0 0 0 2.5px $danger-900 !important;

    

}
.error_text{
    // position: absolute;
    // top: 43px;
    font-size: 12px;
    // margin-top: -16px;
    margin-top: 8px;
    color: $danger-100;
}

.focus-outline:focus-within
{
    outline: 1px solid #5c5ad0 !important;
    box-shadow: 0 0 0 2.5px #5c5ad011 !important;
    border-radius: 6px !important;
    transition: all 0.1s ease-out;
}
.custom-input-container{
    display: flex;
    flex-direction: column;
    max-width: 330px !important;
    .input-label{
        color: $neutrals-400;
        margin-bottom: 8px;
    }

    .input-box{
        position: relative;

        .input-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            color: $neutrals-400;
        }
        .input-symbol{
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            background: $neutrals-900;
            width: 36px;
            color: $neutrals-500;
            height: 36px;
            align-items: center;
            justify-content: center;
            border-radius: 6px 0px 0px 6px;
            border: .5px solid $neutrals-700;
        }
    input{
        border: .5px solid $neutrals-700;
        border-radius: 6px;
        background-color: #ffff;
        height: 37px;
        color: $neutrals-500;
        font-size: 14px;
        font-weight: 400;
    }
    .input-disabled{
        cursor: not-allowed;
        background-color: $neutrals-900;
        color: $neutrals-500;
    }
}
}



.text-area{
display: flex;
align-items: center;
border-radius: 6px;
width: 318.4px;
height: 68.4px;
outline: none;
resize: none;
overflow: hidden;
padding-top: 10px !important;
border: .5px solid $neutrals-700;
}