// switch styles

.ant-switch.ant-switch-checked {
  background-color: #5c5ad0 !important;
  border-color: #5c5ad0 !important;
}
.ant-switch {
  min-width: 34px !important;
  padding: 0px !important;
  height: 17px !important;
  background: #8e9caa;
}
.ant-switch-inner {
  width: 34px !important;
}
.ant-switch-handle::before {
  height: 11px !important;
  width: 11px !important;

  margin-top: 1px;
}

.ant-switch-checked {
  .ant-switch-handle::before {
    margin-left: 7px;
  }
}

//Pagination

.ant-table-wrapper .ant-table-column-sorter-up.active {
  color: #5c5ad0 !important;
}

.ant-table-wrapper .ant-table-column-sorter-down.active {
  color: #5c5ad0 !important;
}
.ant-pagination .ant-pagination-item-active a {
  color: #5c5ad0 !important;
}
.ant-pagination .ant-pagination-item-active {
  border-color: #5c5ad0 !important;
}
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-select"]
  [class*=" ant-select"],
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-select"]
  [class*=" ant-select"] {
  border-color: #5c5ad0 !important;
}
// .ant-tooltip-placement-top .ant-tooltip-arrow {
// display: none !important
// }

// .ant-tooltip .ant-tooltip-content {
//     display: none !important;
// }

//spin

.ant-spin .ant-spin-dot-spin {
  margin-left: 500px;
}

.ant-spin .ant-spin-dot-item {
  background-color: #5c5ad0 !important ;
}
//Breadcrumb

.ant-breadcrumb-link {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #566a7f !important;
  .subchild a {
    color: #a1acb8 !important;
    font-weight: 400 !important;
  }
  .heading_parent {
    color: #a1acb8;
    font-weight: 400;
  }
}

.ant-breadcrumb-separator {
  font-size: 14px !important;
  color: #a1acb8 !important;
}

.ant-breadcrumb {
  font-size: 18px !important;
}

// antd table designe

.ant-table-wrapper .ant-table-container {
  border-start-start-radius: 0px !important;
  border-start-end-radius: 0px !important;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > *:first-child {
  border-start-start-radius: 0px !important;
}
.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:last-child
  > *:last-child {
  border-start-end-radius: 0px !important;
}

.ant-checkbox-checked:after {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  visibility: hidden;
  border: 2px solid #5c5ad0 !important;
  animation-name: css-dev-only-do-not-override-1ij74fp-antCheckboxEffect;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  content: "";
  transition: all 0.3s;
}

// pagination none

// .ant-pagination {
//   display: none !important;
// }

// table column saprator

// :not(.ant-table-row-expand-icon-cell):not([colspan])::before {
//   // display: none !important;
// }
.ant-table-cell::before {
  display: none;
}

.ant-table-row:hover {
  // cursor: pointer;
}

.ant-table-tbody > tr > td {
  border-top: none !important;
}
.ant-table-wrapper .ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}

.ant-table-container {
  // box-shadow: 0px 2px 6px 0px #4359711f;
  border-radius: 8px;
  // border: 1px solid;
  overflow: hidden;
}

.ant-table-thead .ant-table-cell {
  // background-color: rgba(25, 168, 115, .2) !important;
  // background-color: #5c5ad133!important;
  background-color: #f5f6f8 !important;
  font-size: 15px;
  font-weight: 500 !important;
  color: #252525;
}
// .ant-table-tbody > tr:hover {
//     /* Set the border radius to 0 */
//     border-radius: 0 !important;
//   }

// start
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td:first-child,
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr
  > td.ant-table-cell-row-hover:first-child,
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr.ant-table-row.ant-table-row-selected
  > td:first-child {
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
}
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr.ant-table-row:hover
  > td:last-child,
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr
  > td.ant-table-cell-row-hover:last-child,
.ant-table-wrapper
  .ant-table:not(.ant-table-bordered)
  .ant-table-tbody
  > tr.ant-table-row.ant-table-row-selected
  > td:last-child {
  border-start-end-radius: 0px !important;
  border-end-end-radius: 0px !important;
}

// end

.ant-table-row-selected {
  .ant-table-cell {
    // background-color: rgba(25, 168, 115, .2) !important;
    background-color: #5b59d10f !important;
    border-radius: 0 !important;
  }
}
// .ant-table-selection-column .ant-checkbox-wrapper{
//     color: red !important;
// }

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5c5ad0 !important;
  border-color: #5c5ad0 !important;
}
// .ant-checkbox-input{
//     color: red !important;
// }
.ant-checkbox-disabled {
  .ant-checkbox-inner {
    background-color: #6a68f9 !important;
    border-color: #6a68f9 !important;
  }
  .ant-checkbox-inner::after {
    border-color: rgb(207, 204, 204) !important;
  }
}

.ant-checkbox-inner {
  border-color: #8e9caa !important;
}

.ant-checkbox-indeterminate {
  .ant-checkbox-inner::after {
    height: 3px !important;
    background-color: #5c5ad0;
  }
}
th {
  .ant-checkbox-checked {
    .ant-checkbox-inner::after {
      top: 50% !important;
      inset-inline-start: 50% !important;
      width: 8px !important;
      height: 2.5px !important;
      background-color: #ffff !important;
      border: 0 !important;
      transform: translate(-50%, -50%) scale(1) !important;
      opacity: 1 !important;
      content: "" !important;
    }
  }
}

.highlight_row {
  td {
    // // background-color: rgba(194, 202, 210, .2) !important;
    // background-color: rgb(243, 245, 246) !important;
    // overflow: hidden !important;
  }
}

.ant-table-row {
  td {
    border-bottom: 0.5px solid #eeeeef !important;
  }
}
.ant-table-row-selected {
  td {
    border-bottom: none !important;
  }
}
.highlight-row {
  border-radius: 0% !important;
}

.ant-table-selection-column {
  padding-left: 16px !important;
}
.ant-table-cell {
  padding: 9px 0px 9px 20px !important;
  font-size: 14px;
  color: #697a8d;
}

.ant-table-row-selected {
  .ant-table-cell {
    color: #697a8d;
    // font-weight: 600;
  }
}
.ant-table-thead {
  .ant-table-cell {
    // color: red !important;
    font-size: 12px;
    color: #2b3347 !important;
  }
}

// modal Css

.ant-modal-wrap {
}

// select or dropdown style
.ant-select-selection-item .dropdown_title_heading {
  font-size: 14px !important;
  color: #566a7f !important;
  font-weight: 500 !important;
}
.ant-select-selection-item {
  font-size: 14px !important;
  color: #566a7f !important;
  font-weight: 500 !important;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  color: rgba(0, 0, 0, 0.25);
  background: #eceef1;
  cursor: not-allowed;
}

//style for over on customer back
.ant-breadcrumb a {
  // padding: 0px 4px 5px 3px !important;
}

[class^="ant-tag"],
[class*=" ant-tag"] {
  font-family: Public Sans, sans-serif !important;
  font-size: 14px;
  box-sizing: border-box;
}

.ant-tag {
  font-family: Public Sans, sans-serif !important;
}

//table shorter

.ant-table-wrapper .ant-table-column-sorters {
  display: inline-flex;
  gap: 5px !important;
}

// skeleton style
.ant-skeleton-title {
  height: 20px !important;
}

// image upload style
.ant-upload:hover {
  border-color: #5c5ad0 !important;
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper.length_0
  .ant-upload.ant-upload-select {
  width: 300px;
  height: 280px;
  margin-inline-end: 0px !important;
  margin-bottom: 0px !important;
  transition: none !important;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container {
  margin-inline: 0 20px !important;
  margin-block: 0 20px !important;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  margin-inline-end: 20px !important;
}
// .ant-upload-select{
//   width: 200px;
//   .ant-upload{
//     width: 200px;
//   }
// }

//pOpover

.ant-popover .ant-popover-inner {
  padding: 20px !important;
}

.ant-popover-inner {
  //height: 162px  !important;
}

//modal fotter button space
.ant-modal .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
  margin-inline-start: 16px !important;
}

.ant-table-row-selected {
  .ant-table-selection-column {
    border-left: 2px solid #5c5ad0 !important;
  }
}

:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"],
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]::after,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]::after {
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class^="ant-pagination"],
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class^="ant-pagination"],
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class*=" ant-pagination"],
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class*=" ant-pagination"] {
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class^="ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class^="ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class*=" ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class*=" ant-pagination"]::before,
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class^="ant-pagination"]::after,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class^="ant-pagination"]::after,
:where(.css-dev-only-do-not-override-k83k30)[class^="ant-pagination"]
  [class*=" ant-pagination"]::after,
:where(.css-dev-only-do-not-override-k83k30)[class*=" ant-pagination"]
  [class*=" ant-pagination"]::after {
  box-sizing: border-box;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination ul,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: "";
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-total-text {
  display: inline-block;
  height: 32px;
  margin-inline-end: 8px;
  line-height: 30px;
  vertical-align: middle;
  color: #697a8d !important;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  margin-inline-end: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item
  a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.88);
  transition: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item
  a:hover {
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.06);
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):active {
  background-color: rgba(0, 0, 0, 0.15);
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #ffffff;
  border-color: #1677ff;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item-active
  a {
  color: #1677ff;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item-active:hover {
  border-color: #4096ff;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-item-active:hover
  a {
  color: #4096ff;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next {
  outline: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container {
  position: relative;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: #1677ff;
  font-size: 12px;
  opacity: 0;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon-svg,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon-svg {
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  margin: auto;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  display: block;
  margin: auto;
  color: rgba(0, 0, 0, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-indent: 0.13em;
  opacity: 1;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev:hover
  .ant-pagination-item-link-icon,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next:hover
  .ant-pagination-item-link-icon {
  opacity: 1;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev:hover
  .ant-pagination-item-ellipsis,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next:hover
  .ant-pagination-item-ellipsis {
  opacity: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev:focus-visible,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next:focus-visible {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev:focus-visible
  .ant-pagination-item-link-icon,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next:focus-visible
  .ant-pagination-item-link-icon {
  opacity: 1;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev:focus-visible
  .ant-pagination-item-ellipsis,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next:focus-visible
  .ant-pagination-item-ellipsis {
  opacity: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next {
  margin-inline-end: 8px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-jump-next {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  color: rgba(0, 0, 0, 0.88);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next {
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev
  button,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next
  button {
  color: rgba(0, 0, 0, 0.88);
  cursor: pointer;
  user-select: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next
  .ant-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev:focus-visible
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next:focus-visible
  .ant-pagination-item-link {
  outline: 4px solid #91caff;
  outline-offset: 1px;
  transition: outline-offset 0s, outline 0s;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev:hover
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next:hover
  .ant-pagination-item-link {
  background-color: rgba(0, 0, 0, 0.06);
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev:active
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next:active
  .ant-pagination-item-link {
  background-color: rgba(0, 0, 0, 0.15);
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-prev.ant-pagination-disabled:hover
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-next.ant-pagination-disabled:hover
  .ant-pagination-item-link {
  background-color: transparent;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-slash {
  margin-inline-end: 12px;
  margin-inline-start: 4px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options {
  display: inline-block;
  margin-inline-start: 16px;
  vertical-align: middle;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-size-changer.-select {
  display: inline-block;
  width: auto;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper {
  display: inline-block;
  height: 32px;
  margin-inline-start: 8px;
  line-height: 32px;
  vertical-align: top;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input {
  position: relative;
  display: inline-block;
  width: 50px;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  height: 32px;
  box-sizing: border-box;
  margin: 0;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input::-moz-placeholder {
  opacity: 1;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  user-select: none;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input:placeholder-shown {
  text-overflow: ellipsis;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input:hover {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input:focus,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-focused {
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  border-inline-end-width: 1px;
  outline: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-disabled,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-disabled:hover,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input[disabled]:hover {
  border-color: #d9d9d9;
  border-inline-end-width: 1px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless:hover,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless:focus,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless-focused,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless-disabled,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input {
  max-width: 100%;
  height: auto;
  min-height: 32px;
  line-height: 1.5714285714285714;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: vertical;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-lg {
  padding: 7px 11px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 8px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-sm {
  padding: 0px 7px;
  border-radius: 4px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-rtl {
  direction: rtl;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-options-quick-jumper
  input-textarea-rtl {
  direction: rtl;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-prev,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-prev
  .ant-pagination-item-link,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-next
  .ant-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-prev
  .ant-pagination-item-link::after,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-next
  .ant-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-inline-end: 8px;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input {
  box-sizing: border-box;
  height: 100%;
  margin-inline-end: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
  color: inherit;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input:hover {
  border-color: #1677ff;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input:focus {
  border-color: #4096ff;
  box-shadow: 0 0px 0 2px rgba(5, 145, 255, 0.1);
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-simple
  .ant-pagination-simple-pager
  input[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-total-text,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-simple-pager {
  height: 24px;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-item {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 22px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-item:not(.ant-pagination-item-active) {
  background-color: transparent;
  border-color: transparent;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-next {
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-prev
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-next
  .ant-pagination-item-link {
  background-color: transparent;
  border-color: transparent;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-prev
  .ant-pagination-item-link::after,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-next
  .ant-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-jump-prev,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-jump-next {
  height: 24px;
  margin-inline-end: 0;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-options {
  margin-inline-start: 2px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-options-size-changer {
  top: 0;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-options-quick-jumper {
  height: 24px;
  line-height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination-mini
  .ant-pagination-options-quick-jumper
  input {
  padding: 0px 7px;
  border-radius: 4px;
  width: 44px;
  height: 24px;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled:hover {
  cursor: not-allowed;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled:hover
  .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled:focus-visible {
  cursor: not-allowed;
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination
  .ant-pagination-disabled:focus-visible
  .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled {
  cursor: not-allowed;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item {
  cursor: not-allowed;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item:hover,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item:active {
  background-color: transparent;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item
  a {
  color: rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: none;
  cursor: not-allowed;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-active {
  border-color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.15);
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-active:hover,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-active:active {
  background-color: rgba(0, 0, 0, 0.15);
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-active
  a {
  color: rgba(0, 0, 0, 0.25);
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-link:hover,
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-link:active {
  background-color: transparent;
}
.ant-pagination-simple:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-link {
  background-color: transparent;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-link-icon {
  opacity: 0;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-item-ellipsis {
  opacity: 1;
}
:where(
    .css-dev-only-do-not-override-k83k30
  ).ant-pagination.ant-pagination-disabled
  .ant-pagination-simple-pager {
  color: rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 992px) {
  :where(.css-dev-only-do-not-override-k83k30).ant-pagination
    .ant-pagination-item-after-jump-prev,
  :where(.css-dev-only-do-not-override-k83k30).ant-pagination
    .ant-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  :where(.css-dev-only-do-not-override-k83k30).ant-pagination
    .ant-pagination-options {
    display: none;
  }
}
:where(.css-dev-only-do-not-override-k83k30).ant-pagination-rtl {
  direction: rtl;
}
