@import '../../../assets/Colors/Colors.scss';

.contact-preview-main{
    margin: auto;
    width: 95%;
    max-width: 2200px;
    position: relative;


    .card-table-container{
        display: flex;
        gap: 30px;
        padding-top: 5px;

        .card-content {
            height: 73vh;
            width: 221px;
            min-width: 261px;
            max-height: 629px;
            border-radius: 6px;
            background-color: #ffff;
            box-shadow: 0px 4px 6px #4359711f;
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            .shadow-top,
.shadow-bottom {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.2),
    rgba(128, 128, 128, 0)
  );
  z-index: 10;
}

.shadow-top {
  top: 0;
}

.shadow-bottom {
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0)
  );
}
          }
        

        .card-container{
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            position: relative;
            

            

            .contact-avatar{
                width: 78px;
                height: 78px;
            }
            .contact-type-customer{
                background-color: $success-900;
                color: $success-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
             .contact-type-lead{
                background-color:  $info-900;
                color: $info-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
             .contact-type-not{
                background-color: $danger-900;
                color:$danger-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
             .contact-type-junk{
                background-color: $orange-900;
                color: $orange-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
             .contact-type-prospective{
                background-color:  $primary-900;
                color: $primary-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
             .contact-type-agent{
                background-color:  $warning-900;
                color:  $warning-100;
                padding: 5px 10px;
                border-radius: 6px;
            }
            .contact-btn-container{
                width: 164px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 22px;
                .btn-box{
                    .btn-icon{
                        width: 34px;
                        height: 34px;
                        background-color: $neutrals-900;
                        border-radius: 50%;
                        margin-bottom: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .more-icon{
                        transform: rotate(90deg);
                    }
                }
            }
            .h-line{
                width: 99%;
                border: .5px solid $neutrals-700;
                margin-bottom: 20px;
            }
            .contact-details-container{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                .dob{
                    position: relative;
                    .date-picker-container{
                        position: absolute;
                        top: -10px;
                        left: -9px;

                    .ant-picker{
                        border: none;
                        padding: 0px;
                       
                        .ant-picker-input{
                           display: none;
                        }
                    }
                    }
                   
                }

               
                .clr-n-400{
                    color: $neutrals-400;
                }
                .clr-p-100{
                    color: $primary-100;
                }
                .clr-nt-400{
                    color: $neutrals-400;
                }
            }


        }

        .table-container{
            // height: 629px;
            width: 100%;
            max-width: 1860px;
            // width: 843px;
            // max-width: 1186px;


            .tab-btn-container{
                display: flex;
                background-color: $secondary-800;
                width: max-content;
                border-radius: 6px;
                margin-bottom: 30px;

                .tab-btn{
                    padding: 11px 20px;
                    cursor: pointer;
                }
                .activeTab{
                    padding: 12px 24px 11px 22px;
                    background-color: #ffff;
                    border-radius: 6px;
                    box-shadow: 0px 2px 6px 0px #4359711f;
                    color: $primary-100;
                    font-weight: 600;
                }
            }

            .table-header{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .account-count{
                    color: $secondary-100;
                }
                .assign-account-btn{
                    color: $primary-100;
                    cursor: pointer;
                }

            }

            .contact-preview-table-container{
                background-color: #ffff;
                border-radius: 6px;
                box-shadow: 0px 4px 6px #4359711f;


                .filter-searchbar-container{
                    padding: 0px 20px;
                }
                .new_btn_or_reports_main{
                    top: -207px;
                    right: -20px;
                }

                .filter-and-searchbar-delete-btn{
                    display: flex;
                    gap: 6px;
                    align-items: center;

                    .delete-text{
                        color: $primary-100;
                    }
                }
            }
        }
    }
}

 .calendar-contaienr{
    display: flex;
    gap: 10px;
    align-items: center;
    .save-cancel-btn{
        display: flex;
        gap: 10px;
        margin-left: 10px;
    }
    .save-btn{
        width: 25px;
        height: 25px;
        background-color: $primary-100;
        border-radius: 50%;
        cursor: pointer;
    }
    .cancel-btn{
        width: 25px;
        height: 25px;
        background-color: $secondary-100;
        border-radius: 50%;
        cursor: pointer;

    }
}



.phone-label
{
    color:#94A2B8 !important;
}
.email-label
{
    color:#94A2B8 !important;
}
.dob-label
{
    color:#94A2B8 !important;
}
.ownership-label
{
    color:#94A2B8 !important;
}
.lead-source-label
{
    color:#94A2B8 !important;
}
.created-by-label
{
    color:#94A2B8 !important;
}

.ant-picker-today-btn{
    display: none;
}
.ant-picker-footer-extra{
    padding: 20px 0px;
}

.calendar-container{
    width: 330px;
    .label{
        color: $neutrals-400;
        margin-bottom: 8px;
    }
    .ant-picker{
        width: 330px;
        height: 38px;
    }
}

.ant-picker-input{
    input{
    color: $neutrals-500 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
}
// .ant-picker-cell-inner{
//     // color: red !important;
// }
// .ant-picker-dropdown .ant-picker-cell {
//     // color: red !important;
// }
// .ant-picker-cell-disabled .ant-picker-cell-inner {
//     color: red !important;
//   }

 .ant-picker-cell-in-view{
    .ant-picker-cell-inner{
        color: $neutrals-500 !important;
    }
}
.ant-picker-cell-inner{
    color: $neutrals-600;
}

.ant-picker-content{
    thead{
        tr{
            th{
                color: $neutrals-400 !important;
                font-weight: 600 !important;
            }
        }
    }
}
  .ant-picker-year-btn:hover{
    color: $primary-100 !important;
  }
  .ant-picker-month-btn:hover{
    color: $primary-100 !important;
  }
  .ant-picker-header-super-next-btn,
  .ant-picker-header-super-prev-btn,
  .ant-picker-header-next-btn,
  .ant-picker-header-prev-btn {
    color: $primary-300 !important;
  }

.ant-picker-header-view{
    color: $neutrals-100 !important;
}

.ant-picker-header-super-next-btn:hover,
.ant-picker-header-super-prev-btn:hover,
.ant-picker-header-next-btn:hover,
.ant-picker-header-prev-btn:hover {
  color: $primary-100 !important;
}
.ant-picker-cell-selected{
    .ant-picker-cell-inner{
        color: #ffff !important;
    }
}

.card-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #fff;
    scroll-padding: 0;
  }

  

  .card-container::-webkit-scrollbar {
    width: 6px !important;
  }
  
  .card-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border: 2px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                border-radius: 9999px;
                background-color: #566A7F33;
  }
