

.App{
  display: flex;
  ::-webkit-scrollbar { 
    display: none; 
   }
}
.main{
  display: flex;
  /* border: 1px solid; */
  width: 100%;
  -webkit-font-smoothing: antialiased;
  
  }

.rightScreen{
  /* border: 1px solid; */
  width: 100%;
  margin-left: -10px;
  overflow: scroll;
  height:100vh;
  
}
 ::-webkit-scrollbar { 
 width: 0px; 
}  
/* 
::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-thumb {
  background-color:#c2cad2;
  border-radius: 10px;
  width: 5px  !important;
  margin-right: 3px;

}
::-webkit-scrollbar-thumb:hover {
background: #566a76;
} */

@media screen and (width: 668px) {
 .sidebar{
  display: none;
 }
}



/* input box style  */

input{
  border: none;
  outline: none;
  /* width: 82%; */
  font-size: 14px;
  font-weight: 500;
}
input::placeholder{
  color: #fff !important;
}