@import "../../assets/Colors/Colors.scss";


.ant-select-multiple.ant-select-lg .ant-select-selection-item {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 22px !important;
  margin-top: 4px;
  margin-bottom: 2px;
  line-height: 23px;
  background: $primary-900 !important;
  color: $primary-100 !important;
  border: none !important;
  border-radius: 4px;
  cursor: default;
  transition: font-size 0.3s,line-height 0.3s,height 0.3s;
  user-select: none;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px !important;

}
.ant-select-selection-item{
  font-size: 14px !important;
  font-weight: 500;
}

.ant-select-multiple.ant-select-lg .ant-select-selection-overflow {
  overflow: scroll;
  flex-wrap: nowrap;

}
.ant-select-multiple .ant-select-selection-item-remove {
  color: $primary-100 !important; /* change this to the desired color */
}
.srchdrp {
    // margin-bottom:20px;
    position: relative;

    .add-new-btn{
      width: 100%;
      border-radius: 0 !important;
      background-color: $neutrals-900;
      gap: 6px;
      display: flex;
      align-items: center;
      height: 36px;
      padding-left: 12px;
      margin-top: 10px;
      text-align: left;
      cursor: pointer;

      p{
        color: $primary-100 !important;
        padding-right: 12px;
      }
    }

    .search-input-box{
      padding: 0px 10px;
      // color: red !important;

      input{
        color: $neutrals-400 !important;
      }
    }
  
    .editBtnContainer{
      background-color: #ffff !important;
      width: 36px;
      height: 36px;
      border-radius: 4px;
      position: absolute;
      right: 1px;
      top: 1px;
      cursor: pointer;
    .editBtn{
      // position: absolute;
      // top: 1px;
      width: 36px;
      height: 36px;
      // border: 1px solid;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background-color: white;
      // right: 1px;
      background-color: #ffff;
      background:linear-gradient(to right, transparent 0%, #5c5ad0 1000%);
    }
  }

  .dropdown-lable{
    color: $neutrals-400 !important;
    margin-bottom: 8px;
  }
  
    .ant-select-selector {
      // border: 1px solid #5c5ad0 !important;
      // outline: 1px solid #5C5AD0 !important;
      // box-shadow: none !important;
      height: 38px !important;
    }
  
    .ant-select-selection-placeholder {
      color: $neutrals-600 !important;
      font-weight: 500;
      display: flex;
      align-items: center;
      opacity: 1 !important;
      font-size: 14px !important;
    }

    .ant-select-open{
      .ant-select-selection-placeholder {
        color: $neutrals-700 !important;
      
      }
    }
   
  
    .ant-select-item {
      font-size: 14px !important;
      font-weight: 400 !important;
      padding: 6px 14px !important;
      border-radius: 0px !important;
      color: $neutrals-500 !important;
      background-color: white;
    }
  
    .ant-select-dropdown {
      border-radius: 6px !important;
      padding: 10px 0px 10px 0px !important;
    }
    .ant-select .ant-select-selector {
      border-radius: 5px !important;
      border: .5px solid $neutrals-700 !important;
      color: $neutrals-400 !important;
    }
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 40px;
      padding: 0px 12px 0px 14px;
  }
  
    .ant-select .ant-select-selector:hover {
      // outline: 1px solid #5C5AD0 !important;
      // border:.5px solid transparent !important;
      // box-shadow: none  !important;
      // transition: none !important;
    }
  
    .ant-select-arrow {
      font-size: 10px !important;
    }
  
    .ant-select-item-option:hover:not(.ant-select-item-option-disabled) {
       background-color: $neutrals-900 !important;
      color: $neutrals-400 !important;
    }
   .ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    
        background-color:$neutrals-900!important;
    }

    .ant-select-item-option-selected {
      background-color: $primary-900 !important;
      color: $primary-100 !important;
      font-weight: 500 !important;
    }
    .ant-select-item-option-selected:hover:not(.ant-select-item-option-disabled){
      color: $primary-100 !important;
    }
  
  
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    color: #566A7F;
    width: 100%;
  }
  
  .drpError {
    .ant-select .ant-select-selector {
      border-radius: 5px !important;
      border: 1px solid #da2f58 !important;
      color: $neutrals-400 !important;
    }
    position: relative;
    .error_text {
      position: absolute;
      // top: 43px;
      font-size: 12px;
      color: #da2f58;
    }
  }
  
  
  .ant-select-focused.ant-select:not(
      .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: #5c5ad0 !important;
    border: 1px solid #5c5ad0 !important;
    box-shadow: 0 0 0 2px #5c5ad011 !important;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }
  .ant-select-disabled{
    .ant-select-selector{
      background-color: $neutrals-900 !important;
    }
  }
  
  
  .ant-select-focused.ant-select
    .ant-select-selector {
    border-color: #5c5ad0 !important;
    border: 1px solid #5c5ad0 !important;
    box-shadow: 0 0 0 2px #5c5ad011 !important;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }
  


  // Category : Dropdowns CSS



  .catSelect {

    .ant-select-item {
      font-size: 13px !important;
      padding: 10px 10px 10px 28px !important;
      border-radius: 0px !important;
      color: $neutrals-500 !important;
      background-color: white;
    }

    .ant-select-dropdown .ant-select-item-group {
      // color: rgba(0, 0, 0, 0.45);
       color: $secondary-400 !important;
       font-size: 12px !important;
       font-weight: 500;
       min-height: 10px !important;
       cursor: default;
       padding: 0px 0px 0px 14px !important;
   }
    // margin-bottom:20px;
    position: relative;
  
    .editBtnContainer{
      background-color: #ffff !important;
      width: 36px;
      height: 36px;
      border-radius: 4px;
      position: absolute;
      right: 1px;
      top: 1px;
      cursor: pointer;
    .editBtn{
      // position: absolute;
      // top: 1px;
      width: 36px;
      height: 36px;
      // border: 1px solid;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background-color: white;
      // right: 1px;
      background-color: #ffff;
      background:linear-gradient(to right, transparent 0%, #5c5ad0 1000%);
    }
  }

  .dropdown-lable{
    color: $neutrals-400 !important;
    margin-bottom: 8px;
  }
  
    .ant-select-selector {
      // border: 1px solid #5c5ad0 !important;
      // outline: 1px solid #5C5AD0 !important;
      // box-shadow: none !important;
      height: 38px !important;
    }
  
    .ant-select-selection-placeholder {
      color: $neutrals-500 !important;
      font-weight: 500;
      opacity: 1 !important;
      font-size: 14px !important;
    }

    .ant-select-open{
      .ant-select-selection-placeholder {
        color: $neutrals-700 !important;
      
      }
    }
   
  
    // .ant-select-item {
    //   font-size: 14px !important;
    //   font-weight: 400 !important;
    //   padding: 6px 14px !important;
    //   border-radius: 0px !important;
    //   color: $neutrals-500 !important;
    //   background-color: white;
    // }
  
    .ant-select-dropdown {
      border-radius: 6px !important;
      padding: 10px 0px 10px 0px !important;
      top: 45px !important;
    }
    .ant-select .ant-select-selector {
      border-radius: 5px !important;
      border: 1px solid #d9dee3 !important;
      color: $neutrals-400 !important;
    }
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 40px;
      padding: 0px 12px 0px 14px;
  }
  
    .ant-select .ant-select-selector:hover {
    //  background-color: red !important;
      // outline: 1px solid #5C5AD0 !important;
      // border:.5px solid transparent !important;
      // box-shadow: none  !important;
      // transition: none !important;
    }
  
    .ant-select-arrow {
      font-size: 10px !important;
    }
  
    .ant-select-item-option:hover:not(.ant-select-item-option-disabled) {
      //background-color: $neutrals-400 !important;
      color: $neutrals-100 !important;
    }
  
    .ant-select-item-option-selected {
      background-color: $primary-900 !important;
      color: $primary-100 !important;
      font-weight: none !important;
    }
    .ant-select-item-option-selected:hover:not(.ant-select-item-option-disabled){
      color: $primary-100 !important;
    }
  
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    color: #566A7F;
    width: 100%;
  }
  
  .drpError {
    .ant-select .ant-select-selector {
      border-radius: 5px !important;
      border: 1px solid #da2f58 !important;
      color: $neutrals-400 !important;
    }
    position: relative;
    .error_text {
      position: absolute;
      // top: 43px;
      font-size: 12px;
      color: #da2f58;
    }
  }
  
  
  .ant-select-focused.ant-select:not(
      .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: #5c5ad0 !important;
    border: 1px solid #5c5ad0 !important;
    box-shadow: 0 0 0 2px #5c5ad011 !important;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }
  
  
  .ant-select-focused.ant-select
    .ant-select-selector {
    border-color: #5c5ad0 !important;
    border: 1px solid #5c5ad0 !important;
    box-shadow: 0 0 0 2px #5c5ad011 !important;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }

  .catDrp{
    .ant-select-item {
      font-size: 13px !important;
      padding: 10px 10px 10px 28px !important;
      border-radius: 0px !important;
      color: $neutrals-500 !important;
      background-color: white;
    }

    .ant-select-dropdown .ant-select-item-group {
      // color: rgba(0, 0, 0, 0.45);
       color: $secondary-400 !important;
       font-size: 12px !important;
       font-weight: 500;
       min-height: 10px !important;
       cursor: default;
       padding: 0px 0px 0px 14px !important;
   }
  }






.bottom-padding-none{
  .ant-select-dropdown {
    padding: 10px 0px 0px 0px !important;

  }
}




// .mobile_input::placeholder
// {
//   color:red !important
// }

.dropdown-lable{
  color: $neutrals-400 !important;
    margin-bottom: 8px;
}
 

.status-contianer{
  display: flex;
  align-items: center;

.bullet-text
{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
  .status-bullet-all{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $secondary-100;
    margin-right: 8px;
    border: 2px solid $secondary-900;
  }

  .Lead{
    color: $info-100;
  }

  .NotIntersted{
    color: $danger-100;
  }

  .Junk{
    color: $orange-100;
  }

  .Prospective{
    color: $primary-100;
  }

  .Customer{
    color: $success-100;
  }

  .Agent{
    color: $warning-100;
  }



  .status-bullet-lead{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $info-100;
    margin-right: 10px;
    border: 2px solid $info-900;
  }

  .status-bullet-not-interested{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $danger-100;
    margin-right: 8px;
    border: 2px solid $danger-900;
  
  }

  .status-bullet-junk{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $orange-100;
    margin-right: 8px;
    border: 2px solid $orange-900;
  }

  .status-bullet-prospective{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $primary-100;
    margin-right: 8px;
    border: 2px solid $primary-900;
  }

  .status-bullet-customer{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $success-100;
    margin-right: 8px;
    border: 2px solid $success-900;
  }

  .status-bullet-agent{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $warning-100;
    margin-right: 8px;
    border: 2px solid $warning-900;
  }

  .status-bullet-consultant{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $secondary-100;
    margin-right: 8px;
    border: 2px solid $secondary-900;
  }

  .status-bullet-other-vendor{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $success-100;
    margin-right: 8px;
    border: 2px solid $success-900;
  }
}

.input-group 
{

  display: flex;
  align-items: center;


  .focus-outline:focus-within{
    border-radius: 0px 6px 6px 0px !important;
  }

  .ant-select .ant-select-selector{
    border: .5px solid $neutrals-700 !important;
  }


  
  .ant-select-focused.ant-select:not(
      .ant-select-disabled
    ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: transparent !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 0 2px transparent !important;
    border-right: .5px solid $primary-100 !important ;
    transition: none !important;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }
  
  
  .ant-select-focused.ant-select
    .ant-select-selector {
    border-color: transparent !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 0 2px transparent !important;
    border-right: .5px solid $primary-100 !important ;
    // border-inline-end-width: undefinedpx !important;
    // outline: 0;
  }




  .ant-select-dropdown
  {
    width:330px !important
  }
  .ant-select .ant-select-selector {
  
    border-radius: 6px 0px 0px 6px !important;
  }
  .mobile_input
  {
    border-radius: 0px 6px 6px 0px !important;
  }
}

.icon-select{
  .ant-select-selector{
    padding-left: 40px !important;
  }
  .ant-select-selector .ant-select-selection-search-input{
    padding-left: 28px !important;
  }
}

.select-icon-box{
  position: absolute;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
      left: 0px;
      top: 24px;
      z-index: 2;
.select-icon-type{

}
}
.select-text-type
{
  position: absolute;
  left: 14px;
  top: 10px;
  color: #94a2b8;
  z-index: 2;
  font-size: 14px;
}

.text-select{
  // .ant-select-selector{
  //   padding-left: 80px !important;
  // }
  .ant-select-selection-item
  {
    display: flex;
    justify-content: end;
  }
  // .ant-select-selector .ant-select-selection-search-input{
  //   padding-left: 13px !important;
  // }
}


.dropdown-select-width{
  .ant-select-dropdown{
    width: max-content !important;
  }
}